*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100%;
    width: 100%;
    color: white;
    background-image: url("https://images.pexels.com/photos/248413/pexels-photo-248413.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: center;
   
}

body::-webkit-scrollbar{
    width: 15px;
}
body::-webkit-scrollbar-thumb{
    background-color: #938293;
    border-radius: 5px;
}

header nav{
     background-color: rgb(77, 75, 75);
     padding: 1rem;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 5vw;
}
header nav h1{
    font-size: 1.7vw;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
}
header nav form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-right: 5rem;
}
header nav form input{
    width: 30vw;
    padding: 0.6rem;
    border-radius: 0.5rem;
    border:none;
    outline: none;
    font-size: 1rem;
    flex-grow: 1;
}
header nav form button{
    background-color: red;
    color: white;
    padding: 0.6rem;
    border-radius: 0.5rem;
    border:none;
    outline: none;
}
header nav form button:hover{
    background-color: rgb(215, 15, 15);
}




.recipe-container{
    text-align: center;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100wh;
    flex-wrap: wrap;
    gap: 1.3rem;
    font-size: 3vw;
    background-image: url("https://images.pexels.com/photos/248413/pexels-photo-248413.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: center;
}

.creatdiv{
   /* background-color: white; */
   color: black;
   border-radius: 10px;
   box-shadow: 4px 4px 8px rgba(0,0,0,0.3);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
  
  
}

.appimg{
    height: 300px;
    width: 300px;
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 0px;


}

.creatdiv h2{
    margin-block: 3px;
   
}
.creatdiv p{
    font-size: 1.3vw;
}
.creatdiv img{
    width: 100%;
}

.Btn{
    background-color: red;
    color: white;
    border: none;
    outline: none;
    padding: 0.4rem;
    border-radius: 5px;
    font-size: 1rem;
    margin-block: 5px;
}

.hide{
    display: none;
}

.recipes-detail{
    height: 30vw;
    width: 32vw;
    position: fixed;
    top: 17vw;
    left: 35vw;
    background-color: #825a57;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    overflow-y: scroll;
    cursor: pointer;
}
.recipes-detail::-webkit-scrollbar{
    width: 0.6vw;
}
.recipes-detail::-webkit-scrollbar-thumb{
    background-color: rgb(107, 136, 146);
    border-radius: 3vw;
    -webkit-border-radius: 0.5vw;
}
.close-btn {
    position: absolute;
    right: 0.5vw;
    top: 1vw;
    height: 2vw;
    width: 2vw;
    font-size: 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    
}
.one{
    font-size: 2vw;
    margin-left: -5vw;
}

.two{
    font-size: 1.5vw;
}
.three{
    font-size: 2vw;
    margin-left: -5vw;
}
.four{
    font-size: 1.2vw;
    margin-left: -2vw;
}
.recipes-methode{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 40px;

}
.recipes-methode h2{
    margin-block: 10px;
    text-align: center;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.unoder{
   margin-left: -100px;
}
.cut{
    cursor: pointer;
}


@media  screen and (max-width:600px) {
    header nav{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
    }
    header nav h1{
     margin-block: 10px;
     font-size: 3vw;
    }
    header nav form{
     margin-left: 5rem;
    }
    header nav form input{
     width: 15rem ;
    }
    body{
     height: 100vh;
    }
    
 .recipes-detail{
     height: 50vw;
     width: 50vw;
     position: fixed;
     top: 50vw;
     left: 26vw;
     background-color: #825a57;
     border-top-left-radius: 1rem;
     border-bottom-left-radius: 1rem;
     border-top-right-radius: 0.5rem;
     border-bottom-right-radius: 0.5rem;
     overflow-y: scroll;
     cursor: pointer;
 }

 .one{
    font-size: 3vw;
    margin-left: -5vw;
}

.two{
    font-size: 2vw;
}
.three{
    font-size: 3vw;
    margin-left: -5vw;
}
.four{
    font-size: 1.7vw;
    margin-left: -5vw;
}
 }
 
